1.  One_hot_encoding for ordinal and categorial columns (rank information on education and poverty is lo
2.  Check for NAs (only for traing_set_features) -> toDO
    -> delete employment columns, health insurance
    -> delete rows with no information on recommandation of doctor (poor answering behavior) 
    -> take rows of opinion columns and impute NAs with k nearest neighbour 
3.  Delete the same rows in the labels dataset

In [1]:
import re
from pathlib import Path

import pandas as pd

In [2]:
data_path = Path.cwd().parent / "data" / "raw"

In [3]:
raw_df = pd.read_csv(data_path / "training_set_features.csv", index_col="respondent_id")

In [4]:
test_df = pd.read_csv(data_path / "test_set_features.csv", index_col="respondent_id")

In [41]:
pd.set_option("display.max_rows", 20, "display.max_columns", 20)

In [5]:
# one-hot-enconding without employment

In [6]:
non_numerical_obj = raw_df.columns[raw_df.dtypes == "object"]

In [7]:
non_numerical_list = non_numerical_obj.tolist()[0:-2]

In [8]:
raw_df_encoded = pd.get_dummies(raw_df, columns=non_numerical_list, dummy_na=True)
test_df_encoded = pd.get_dummies(test_df, columns=non_numerical_list, dummy_na=True)

In [9]:
# renaming

In [10]:
test_column_list = test_df_encoded.columns.tolist()

In [11]:
renamed_list = []

In [12]:
for column_name in test_column_list:
    column_name = re.sub(pattern=r"\$(\d\d)....", repl="\\1k", string=column_name)
    column_name = re.sub(pattern=r"\<\=|\<\s", repl="less_", string=column_name)
    column_name = re.sub(pattern=r"\>\=|\>\s", repl="gr_", string=column_name)
    column_name = re.sub(pattern=r"(\w)\,\s(\w)", repl="\\1_\\2", string=column_name)
    column_name = re.sub(pattern=r"\s\-\s", repl="_-_", string=column_name)
    column_name = re.sub(pattern=r"(\w)\s+(\w)", repl="\\1_\\2", string=column_name)
    column_name = re.sub(pattern=r"(\d\+)\s", repl="\\1_", string=column_name)
    column_name = re.sub(pattern=r"\_\_", repl="_", string=column_name)
    renamed_list.append(column_name)

In [13]:
renamed_list

['h1n1_concern',
 'h1n1_knowledge',
 'behavioral_antiviral_meds',
 'behavioral_avoidance',
 'behavioral_face_mask',
 'behavioral_wash_hands',
 'behavioral_large_gatherings',
 'behavioral_outside_home',
 'behavioral_touch_face',
 'doctor_recc_h1n1',
 'doctor_recc_seasonal',
 'chronic_med_condition',
 'child_under_6_months',
 'health_worker',
 'health_insurance',
 'opinion_h1n1_vacc_effective',
 'opinion_h1n1_risk',
 'opinion_h1n1_sick_from_vacc',
 'opinion_seas_vacc_effective',
 'opinion_seas_risk',
 'opinion_seas_sick_from_vacc',
 'household_adults',
 'household_children',
 'employment_industry',
 'employment_occupation',
 'age_group_18_-_34_Years',
 'age_group_35_-_44_Years',
 'age_group_45_-_54_Years',
 'age_group_55_-_64_Years',
 'age_group_65+_Years',
 'age_group_nan',
 'education_12_Years',
 'education_less_12_Years',
 'education_College_Graduate',
 'education_Some_College',
 'education_nan',
 'race_Black',
 'race_Hispanic',
 'race_Other_or_Multiple',
 'race_White',
 'race_nan',
 'sex_Female',
 'sex_Male',
 'sex_nan',
 'income_poverty_less_75k_Above_Poverty',
 'income_poverty_gr_75k',
 'income_poverty_Below_Poverty',
 'income_poverty_nan',
 'marital_status_Married',
 'marital_status_Not_Married',
 'marital_status_nan',
 'rent_or_own_Own',
 'rent_or_own_Rent',
 'rent_or_own_nan',
 'employment_status_Employed',
 'employment_status_Not_in_Labor_Force',
 'employment_status_Unemployed',
 'employment_status_nan',
 'hhs_geo_region_atmpeygn',
 'hhs_geo_region_bhuqouqj',
 'hhs_geo_region_dqpwygqj',
 'hhs_geo_region_fpwskwrf',
 'hhs_geo_region_kbazzjca',
 'hhs_geo_region_lrircsnp',
 'hhs_geo_region_lzgpxyit',
 'hhs_geo_region_mlyzmhmf',
 'hhs_geo_region_oxchjgsf',
 'hhs_geo_region_qufhixun',
 'hhs_geo_region_nan',
 'census_msa_MSA_Not_Principle_City',
 'census_msa_MSA_Principle_City',
 'census_msa_Non-MSA',
 'census_msa_nan']

In [14]:
raw_df_encoded.columns = renamed_list
test_df_encoded.columns = renamed_list

In [15]:
data_path_processed = Path.cwd().parent / "data" / "processed"

In [16]:
raw_df_encoded.to_csv(data_path_processed / "training_set_features_1hot_na.csv",)

In [17]:
test_df_encoded.to_csv(data_path_processed / "test_set_features_1hot_na.csv",)

In [18]:
# check for columns with high number of Nas

empty_df_1 = pd.DataFrame()
empty_df_1["column_name"] = raw_df_encoded.columns
nulls_list = []

for column in raw_df_encoded.columns:
    nulls = raw_df_encoded[column].isnull().sum()
    nulls_list.append(nulls)

pd.set_option("display.max_rows", None, "display.max_columns", None)


empty_df_1["no_Na"] = nulls_list

empty_df_1.sort_values(by="no_Na", ascending=False)

                              column_name  no_Na
24                  employment_occupation  13470
23                    employment_industry  13330
14                       health_insurance  12274
10                   doctor_recc_seasonal   2160
9                        doctor_recc_h1n1   2160
11                  chronic_med_condition    971
12                   child_under_6_months    820
13                          health_worker    804
20            opinion_seas_sick_from_vacc    537
19                      opinion_seas_risk    514
18            opinion_seas_vacc_effective    462
17            opinion_h1n1_sick_from_vacc    395
15            opinion_h1n1_vacc_effective    391
16                      opinion_h1n1_risk    388
22                     household_children    249
21                       household_adults    249
3                    behavioral_avoidance    208
8                   behavioral_touch_face    128
1                          h1n1_knowledge    116
0                            h1n1_concern     92
6             behavioral_large_gatherings     87
7                 behavioral_outside_home     82
2               behavioral_antiviral_meds     71
5                   behavioral_wash_hands     42
4                    behavioral_face_mask     19
51                        rent_or_own_Own      0
52                       rent_or_own_Rent      0
53                        rent_or_own_nan      0
54             employment_status_Employed      0
55   employment_status_Not_in_Labor_Force      0
56           employment_status_Unemployed      0
57                  employment_status_nan      0
58                hhs_geo_region_atmpeygn      0
59                hhs_geo_region_bhuqouqj      0
60                hhs_geo_region_dqpwygqj      0
62                hhs_geo_region_kbazzjca      0
61                hhs_geo_region_fpwskwrf      0
63                hhs_geo_region_lrircsnp      0
64                hhs_geo_region_lzgpxyit      0
65                hhs_geo_region_mlyzmhmf      0
66                hhs_geo_region_oxchjgsf      0
67                hhs_geo_region_qufhixun      0
68                     hhs_geo_region_nan      0
69      census_msa_MSA_Not_Principle_City      0
70          census_msa_MSA_Principle_City      0
71                     census_msa_Non-MSA      0
49             marital_status_Not_Married      0
50                     marital_status_nan      0
36                             race_Black      0
48                 marital_status_Married      0
47                     income_poverty_nan      0
25                age_group_18_-_34_Years      0
26                age_group_35_-_44_Years      0
27                age_group_45_-_54_Years      0
28                age_group_55_-_64_Years      0
29                    age_group_65+_Years      0
30                          age_group_nan      0
31                     education_12_Years      0
32                education_less_12_Years      0
33             education_College_Graduate      0
34                 education_Some_College      0
35                          education_nan      0
37                          race_Hispanic      0
38                 race_Other_or_Multiple      0
39                             race_White      0
40                               race_nan      0
41                             sex_Female      0
42                               sex_Male      0
43                                sex_nan      0
44  income_poverty_less_75k_Above_Poverty      0
45                  income_poverty_gr_75k      0
46           income_poverty_Below_Poverty      0
72                         census_msa_nan      0

In [19]:
# drop columns with very high number of NAs
raw_df_encoded_naDrop = raw_df_encoded.drop(
    ["employment_industry", "employment_occupation", "health_insurance"], axis=1
)

In [20]:
empty_df_2 = pd.DataFrame()
empty_df_2["column_name"] = raw_df_encoded_naDrop.columns
nulls_list = []

for column in raw_df_encoded_naDrop.columns:
    nulls = raw_df_encoded_naDrop[column].isnull().sum()
    nulls_list.append(nulls)

pd.set_option("display.max_rows", None, "display.max_columns", None)


empty_df_2["no_Na"] = nulls_list

empty_df_2.sort_values(by="no_Na", ascending=False)

                              column_name  no_Na
9                        doctor_recc_h1n1   2160
10                   doctor_recc_seasonal   2160
11                  chronic_med_condition    971
12                   child_under_6_months    820
13                          health_worker    804
19            opinion_seas_sick_from_vacc    537
18                      opinion_seas_risk    514
17            opinion_seas_vacc_effective    462
16            opinion_h1n1_sick_from_vacc    395
14            opinion_h1n1_vacc_effective    391
15                      opinion_h1n1_risk    388
21                     household_children    249
20                       household_adults    249
3                    behavioral_avoidance    208
8                   behavioral_touch_face    128
1                          h1n1_knowledge    116
0                            h1n1_concern     92
6             behavioral_large_gatherings     87
7                 behavioral_outside_home     82
2               behavioral_antiviral_meds     71
5                   behavioral_wash_hands     42
4                    behavioral_face_mask     19
57                hhs_geo_region_dqpwygqj      0
48                        rent_or_own_Own      0
49                       rent_or_own_Rent      0
50                        rent_or_own_nan      0
51             employment_status_Employed      0
52   employment_status_Not_in_Labor_Force      0
53           employment_status_Unemployed      0
54                  employment_status_nan      0
55                hhs_geo_region_atmpeygn      0
56                hhs_geo_region_bhuqouqj      0
68                     census_msa_Non-MSA      0
58                hhs_geo_region_fpwskwrf      0
59                hhs_geo_region_kbazzjca      0
60                hhs_geo_region_lrircsnp      0
61                hhs_geo_region_lzgpxyit      0
62                hhs_geo_region_mlyzmhmf      0
63                hhs_geo_region_oxchjgsf      0
64                hhs_geo_region_qufhixun      0
65                     hhs_geo_region_nan      0
66      census_msa_MSA_Not_Principle_City      0
67          census_msa_MSA_Principle_City      0
46             marital_status_Not_Married      0
47                     marital_status_nan      0
35                 race_Other_or_Multiple      0
45                 marital_status_Married      0
44                     income_poverty_nan      0
22                age_group_18_-_34_Years      0
23                age_group_35_-_44_Years      0
24                age_group_45_-_54_Years      0
25                age_group_55_-_64_Years      0
26                    age_group_65+_Years      0
27                          age_group_nan      0
28                     education_12_Years      0
29                education_less_12_Years      0
30             education_College_Graduate      0
31                 education_Some_College      0
32                          education_nan      0
33                             race_Black      0
34                          race_Hispanic      0
36                             race_White      0
37                               race_nan      0
38                             sex_Female      0
39                               sex_Male      0
40                                sex_nan      0
41  income_poverty_less_75k_Above_Poverty      0
42                  income_poverty_gr_75k      0
43           income_poverty_Below_Poverty      0
69                         census_msa_nan      0

In [21]:
# Check if those who didnt answer doctor recommandation, answered in other questions -> they didn't

no_recc = raw_df_encoded_naDrop[raw_df_encoded_naDrop["doctor_recc_h1n1"].isna()]

empty_df_3 = pd.DataFrame()
empty_df_3["column_name"] = no_recc.columns
nulls_list = []

for column in no_recc.columns:
    nulls = no_recc[column].isnull().sum()
    nulls_list.append(nulls)

pd.set_option("display.max_rows", None, "display.max_columns", None)


empty_df_3["no_Na"] = nulls_list

empty_df_4 = empty_df_3.join(empty_df_2, lsuffix="_3", rsuffix="_2")

empty_df_4.sort_values(by="no_Na_3", ascending=False)

,column_name_3,no_Na_3,column_name_2,no_Na_2
9,doctor_recc_h1n1,2160,doctor_recc_h1n1,2160
10,doctor_recc_seasonal,2160,doctor_recc_seasonal,2160
11,chronic_med_condition,209,chronic_med_condition,971
12,child_under_6_months,189,child_under_6_months,820
13,health_worker,185,health_worker,804
18,opinion_seas_risk,169,opinion_seas_risk,514
19,opinion_seas_sick_from_vacc,167,opinion_seas_sick_from_vacc,537
17,opinion_seas_vacc_effective,165,opinion_seas_vacc_effective,462
15,opinion_h1n1_risk,164,opinion_h1n1_risk,388
14,opinion_h1n1_vacc_effective,161,opinion_h1n1_vacc_effective,391
16,opinion_h1n1_sick_from_vacc,159,opinion_h1n1_sick_from_vacc,395
21,household_children,63,household_children,249
20,household_adults,63,household_adults,249
3,behavioral_avoidance,33,behavioral_avoidance,208
0,h1n1_concern,19,h1n1_concern,92
8,behavioral_touch_face,16,behavioral_touch_face,128
2,behavioral_antiviral_meds,13,behavioral_antiviral_meds,71
1,h1n1_knowledge,12,h1n1_knowledge,116
5,behavioral_wash_hands,8,behavioral_wash_hands,42
6,behavioral_large_gatherings,7,behavioral_large_gatherings,87
4,behavioral_face_mask,6,behavioral_face_mask,19
7,behavioral_outside_home,5,behavioral_outside_home,82
52,employment_status_Not_in_Labor_Force,0,employment_status_Not_in_Labor_Force,0
55,hhs_geo_region_atmpeygn,0,hhs_geo_region_atmpeygn,0
54,employment_status_nan,0,employment_status_nan,0
53,employment_status_Unemployed,0,employment_status_Unemployed,0
49,rent_or_own_Rent,0,rent_or_own_Rent,0
51,employment_status_Employed,0,employment_status_Employed,0
50,rent_or_own_nan,0,rent_or_own_nan,0
57,hhs_geo_region_dqpwygqj,0,hhs_geo_region_dqpwygqj,0
48,rent_or_own_Own,0,rent_or_own_Own,0
56,hhs_geo_region_bhuqouqj,0,hhs_geo_region_bhuqouqj,0
68,census_msa_Non-MSA,0,census_msa_Non-MSA,0
58,hhs_geo_region_fpwskwrf,0,hhs_geo_region_fpwskwrf,0
59,hhs_geo_region_kbazzjca,0,hhs_geo_region_kbazzjca,0
60,hhs_geo_region_lrircsnp,0,hhs_geo_region_lrircsnp,0
61,hhs_geo_region_lzgpxyit,0,hhs_geo_region_lzgpxyit,0
62,hhs_geo_region_mlyzmhmf,0,hhs_geo_region_mlyzmhmf,0
63,hhs_geo_region_oxchjgsf,0,hhs_geo_region_oxchjgsf,0
64,hhs_geo_region_qufhixun,0,hhs_geo_region_qufhixun,0
65,hhs_geo_region_nan,0,hhs_geo_region_nan,0
66,census_msa_MSA_Not_Principle_City,0,census_msa_MSA_Not_Principle_City,0
67,census_msa_MSA_Principle_City,0,census_msa_MSA_Principle_City,0
46,marital_status_Not_Married,0,marital_status_Not_Married,0
47,marital_status_nan,0,marital_status_nan,0
35,race_Other_or_Multiple,0,race_Other_or_Multiple,0
45,marital_status_Married,0,marital_status_Married,0
44,income_poverty_nan,0,income_poverty_nan,0
22,age_group_18_-_34_Years,0,age_group_18_-_34_Years,0
23,age_group_35_-_44_Years,0,age_group_35_-_44_Years,0
24,age_group_45_-_54_Years,0,age_group_45_-_54_Years,0
25,age_group_55_-_64_Years,0,age_group_55_-_64_Years,0
26,age_group_65+_Years,0,age_group_65+_Years,0
27,age_group_nan,0,age_group_nan,0
28,education_12_Years,0,education_12_Years,0
29,education_less_12_Years,0,education_less_12_Years,0
30,education_College_Graduate,0,education_College_Graduate,0
31,education_Some_College,0,education_Some_College,0
32,education_nan,0,education_nan,0
33,race_Black,0,race_Black,0
34,race_Hispanic,0,race_Hispanic,0
36,race_White,0,race_White,0
37,race_nan,0,race_nan,0
38,sex_Female,0,sex_Female,0
39,sex_Male,0,sex_Male,0
40,sex_nan,0,sex_nan,0
41,income_poverty_less_75k_Above_Poverty,0,income_poverty_less_75k_Above_Poverty,0
42,income_poverty_gr_75k,0,income_poverty_gr_75k,0
43,income_poverty_Below_Poverty,0,income_poverty_Below_Poverty,0
69,census_msa_nan,0,census_msa_nan,0

In [22]:
# dropping respondents with NA at doc_recc

raw_df_encoded_naDrop_2 = raw_df_encoded_naDrop.dropna(
    axis=0, subset=["doctor_recc_h1n1", "doctor_recc_seasonal"]
)
len(raw_df_encoded_naDrop_2)

24547

In [23]:
# Check for further NAs

empty_df_5 = pd.DataFrame()
empty_df_5["column_name"] = raw_df_encoded_naDrop_2.columns
nulls_list = []
binary_list = []

for column in raw_df_encoded_naDrop_2.columns:
    nulls = raw_df_encoded_naDrop_2[column].isnull().sum()
    binary = len(raw_df_encoded_naDrop_2[column].value_counts())

    nulls_list.append(nulls)
    binary_list.append(binary)


pd.set_option("display.max_rows", None, "display.max_columns", None)


empty_df_5["no_Na"] = nulls_list
empty_df_5["binary"] = binary_list

empty_df_5.sort_values(by="no_Na", ascending=False)

                              column_name  no_Na  binary
11                  chronic_med_condition    762       2
12                   child_under_6_months    631       2
13                          health_worker    619       2
19            opinion_seas_sick_from_vacc    370       5
18                      opinion_seas_risk    345       5
17            opinion_seas_vacc_effective    297       5
16            opinion_h1n1_sick_from_vacc    236       5
14            opinion_h1n1_vacc_effective    230       5
15                      opinion_h1n1_risk    224       5
21                     household_children    186       4
20                       household_adults    186       4
3                    behavioral_avoidance    175       2
8                   behavioral_touch_face    112       2
1                          h1n1_knowledge    104       3
6             behavioral_large_gatherings     80       2
7                 behavioral_outside_home     77       2
0                            h1n1_concern     73       4
2               behavioral_antiviral_meds     58       2
5                   behavioral_wash_hands     34       2
4                    behavioral_face_mask     13       2
57                hhs_geo_region_dqpwygqj      0       2
48                        rent_or_own_Own      0       2
47                     marital_status_nan      0       2
49                       rent_or_own_Rent      0       2
50                        rent_or_own_nan      0       2
51             employment_status_Employed      0       2
52   employment_status_Not_in_Labor_Force      0       2
53           employment_status_Unemployed      0       2
54                  employment_status_nan      0       2
55                hhs_geo_region_atmpeygn      0       2
56                hhs_geo_region_bhuqouqj      0       2
66      census_msa_MSA_Not_Principle_City      0       2
58                hhs_geo_region_fpwskwrf      0       2
59                hhs_geo_region_kbazzjca      0       2
60                hhs_geo_region_lrircsnp      0       2
61                hhs_geo_region_lzgpxyit      0       2
62                hhs_geo_region_mlyzmhmf      0       2
63                hhs_geo_region_oxchjgsf      0       2
64                hhs_geo_region_qufhixun      0       2
65                     hhs_geo_region_nan      0       1
45                 marital_status_Married      0       2
67          census_msa_MSA_Principle_City      0       2
68                     census_msa_Non-MSA      0       2
46             marital_status_Not_Married      0       2
35                 race_Other_or_Multiple      0       2
44                     income_poverty_nan      0       2
30             education_College_Graduate      0       2
9                        doctor_recc_h1n1      0       2
10                   doctor_recc_seasonal      0       2
22                age_group_18_-_34_Years      0       2
23                age_group_35_-_44_Years      0       2
24                age_group_45_-_54_Years      0       2
25                age_group_55_-_64_Years      0       2
26                    age_group_65+_Years      0       2
27                          age_group_nan      0       1
28                     education_12_Years      0       2
29                education_less_12_Years      0       2
31                 education_Some_College      0       2
43           income_poverty_Below_Poverty      0       2
32                          education_nan      0       2
33                             race_Black      0       2
34                          race_Hispanic      0       2
36                             race_White      0       2
37                               race_nan      0       1
38                             sex_Female      0       2
39                               sex_Male      0       2
40                                sex_nan      0       1
41  income_poverty_less_75k_Above_Poverty      0       2
42                  income_poverty_gr_75k      0       2
69                         census_msa_nan      0       1

In [43]:
pd.set_option("display.max_rows", 100, "display.max_columns", 20)
raw_df_encoded_naDrop_2

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,hhs_geo_region_lrircsnp,hhs_geo_region_lzgpxyit,hhs_geo_region_mlyzmhmf,hhs_geo_region_oxchjgsf,hhs_geo_region_qufhixun,hhs_geo_region_nan,census_msa_MSA_Not_Principle_City,census_msa_MSA_Principle_City,census_msa_Non-MSA,census_msa_nan
respondent_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0,0,0,0,0,0,1,0,0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0,0,0,0,1,0,1,0,0,0
5,3.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0
26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0,1,0,0,0,0,0,1,0,0
26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,...,0,1,0,0,0,0,1,0,0,0
26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,...,1,0,0,0,0,0,0,0,1,0
26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,1,0,0

In [25]:
import numpy as np
from sklearn.impute import KNNImputer

In [26]:
imputer = KNNImputer(
    missing_values=np.nan,
    n_neighbors=3,
    weights="distance",
    metric="nan_euclidean",
    copy=True,
    add_indicator=False,
)

In [27]:
raw_df_encoded_naDrop_KNN = imputer.fit_transform(raw_df_encoded_naDrop_2)

In [44]:
raw_df_encoded_naDrop_KNN_pd = pd.DataFrame(
    data=raw_df_encoded_naDrop_KNN, columns=raw_df_encoded_naDrop_2.columns, index = raw_df_encoded_naDrop_2.index
)

pd.set_option("display.max_rows", 20, "display.max_columns", 20)

raw_df_encoded_naDrop_KNN_pd

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,hhs_geo_region_lrircsnp,hhs_geo_region_lzgpxyit,hhs_geo_region_mlyzmhmf,hhs_geo_region_oxchjgsf,hhs_geo_region_qufhixun,hhs_geo_region_nan,census_msa_MSA_Not_Principle_City,census_msa_MSA_Principle_City,census_msa_Non-MSA,census_msa_nan
respondent_id,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.000000,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
5,3.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.000000,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
26704,2.0,2.0,0.0,1.0,1.0,1.0,1.0,0.0,1.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.325834,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [37]:
empty_df_6 = pd.DataFrame()
empty_df_6["column_name"] = raw_df_encoded_naDrop_KNN_pd.columns
nulls_list = []
binary_list = []

for column in raw_df_encoded_naDrop_KNN_pd.columns:
    nulls = raw_df_encoded_naDrop_KNN_pd[column].isnull().sum()
    binary = len(raw_df_encoded_naDrop_KNN_pd[column].value_counts())

    nulls_list.append(nulls)
    binary_list.append(binary)


pd.set_option("display.max_rows", None, "display.max_columns", None)


empty_df_6["no_Na"] = nulls_list
empty_df_6["binary"] = binary_list

empty_df_6.sort_values(by="binary", ascending=False)

                              column_name  no_Na  binary
11                  chronic_med_condition      0     318
19            opinion_seas_sick_from_vacc      0     285
18                      opinion_seas_risk      0     268
17            opinion_seas_vacc_effective      0     234
16            opinion_h1n1_sick_from_vacc      0     191
14            opinion_h1n1_vacc_effective      0     185
15                      opinion_h1n1_risk      0     180
12                   child_under_6_months      0     153
21                     household_children      0     142
20                       household_adults      0     138
3                    behavioral_avoidance      0      97
13                          health_worker      0      93
1                          h1n1_knowledge      0      73
0                            h1n1_concern      0      68
8                   behavioral_touch_face      0      61
7                 behavioral_outside_home      0      46
6             behavioral_large_gatherings      0      40
5                   behavioral_wash_hands      0      15
2               behavioral_antiviral_meds      0      12
4                    behavioral_face_mask      0       5
47                     marital_status_nan      0       2
51             employment_status_Employed      0       2
54                  employment_status_nan      0       2
53           employment_status_Unemployed      0       2
52   employment_status_Not_in_Labor_Force      0       2
48                        rent_or_own_Own      0       2
50                        rent_or_own_nan      0       2
49                       rent_or_own_Rent      0       2
56                hhs_geo_region_bhuqouqj      0       2
46             marital_status_Not_Married      0       2
55                hhs_geo_region_atmpeygn      0       2
66      census_msa_MSA_Not_Principle_City      0       2
57                hhs_geo_region_dqpwygqj      0       2
58                hhs_geo_region_fpwskwrf      0       2
59                hhs_geo_region_kbazzjca      0       2
60                hhs_geo_region_lrircsnp      0       2
61                hhs_geo_region_lzgpxyit      0       2
62                hhs_geo_region_mlyzmhmf      0       2
63                hhs_geo_region_oxchjgsf      0       2
64                hhs_geo_region_qufhixun      0       2
44                     income_poverty_nan      0       2
67          census_msa_MSA_Principle_City      0       2
68                     census_msa_Non-MSA      0       2
45                 marital_status_Married      0       2
35                 race_Other_or_Multiple      0       2
43           income_poverty_Below_Poverty      0       2
42                  income_poverty_gr_75k      0       2
9                        doctor_recc_h1n1      0       2
10                   doctor_recc_seasonal      0       2
22                age_group_18_-_34_Years      0       2
23                age_group_35_-_44_Years      0       2
24                age_group_45_-_54_Years      0       2
25                age_group_55_-_64_Years      0       2
26                    age_group_65+_Years      0       2
28                     education_12_Years      0       2
29                education_less_12_Years      0       2
30             education_College_Graduate      0       2
31                 education_Some_College      0       2
32                          education_nan      0       2
33                             race_Black      0       2
34                          race_Hispanic      0       2
36                             race_White      0       2
38                             sex_Female      0       2
39                               sex_Male      0       2
41  income_poverty_less_75k_Above_Poverty      0       2
27                          age_group_nan      0       1
37                               race_nan      0       1
65                     hhs_geo_region_nan      0       1
40                                sex_nan      0       1
69                         census_msa_nan      0       1

In [45]:
raw_df_encoded_naDrop_KNN_pd.index.name = 'respondent_id'

In [46]:
raw_df_encoded_naDrop_KNN_pd.to_csv(data_path_processed / "training_set_features_1hot_na_cleaned.csv",)

In [ ]:
# delete rows in label_data that are not available in processed data due to cleaning

In [47]:

DATA_PATH2 = Path.cwd().parent / "data" / "raw"
labels_df = pd.read_csv(
    DATA_PATH2 / "training_set_labels.csv", 
    index_col="respondent_id"
)

In [56]:
final_respondent_ids = raw_df_encoded_naDrop_KNN_pd.index.values
final_respondent_ids.tolist()

[0,
 1,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 91,
 92,
 93,
 95,
 96,
 98,
 99,
 100,
 101,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 150,
 151,
 152,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 181,
 182,
 183,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 235,
 236,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 322,
 323,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 333,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 346,
 348,
 349,
 350,
 351,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 382,
 384,
 385,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 407,
 408,
 410,
 411,
 412,
 413,
 414,
 415,
 418,
 419,
 420,
 421,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 434,
 435,
 436,
 437,
 438,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 468,
 469,
 471,
 472,
 473,
 474,
 475,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 581,
 582,
 584,
 585,
 586,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 623,
 624,
 625,
 626,
 627,
 628,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 722,
 723,
 724,
 725,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 827,
 829,
 830,
 831,
 832,
 834,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 900,
 902,
 903,
 904,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1038,
 1039,
 1040,
 1041,
 1042,
 1044,
 1045,
 1047,
 1048,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1076,
 1077,
 1078,
 1079,
 ...]

In [62]:
labels_df_cleaned = labels_df.iloc[final_respondent_ids, :]

In [63]:
labels_df_cleaned.to_csv(data_path_processed / "training_set_labels_cleaned.csv",)